---
import BaseLayout from "../layouts/BaseLayout.astro"
import BlogPost from "../components/BlogPost.astro";
const allPosts = Object.values(import.meta.glob('./posts/*.md', { eager: true }));
const pageTittle = "Mi blog de Astro aprendizaje";
---
<BaseLayout pageTittle={pageTittle}>
    <p>Aquí es donde publicaré sobre mi viaje de aprendizaje Astro.</p>

    <ul class="post-list">
        {allPosts.map((post: any) => <BlogPost url={post.url} title={post.frontmatter.title} />)}
    </ul> 
</BaseLayout>  

